# ------------------------------------------
# Citus Database Worker Node Membership List
# ------------------------------------------
#
# This file contains list of worker node names; these names are used both for
# initializing the worker nodes, and later for communicating with them. Records
# in this file are in the following format:
#
# HOSTNAME     [PORT]     [RACK]
#
# (The uppercase items must be replaced by actual values.)
#
# HOSTNAME specifies the DNS resolvable host name for the worker node. In test
# environments, localhost may be used to loopback to the current node.
#
# PORT specifies the port number to connect to at the specified host. This value
# is optional; in its absence, the port configuration value is used as the
# default.
#
# RACK specifies the host's network location for the purposes of performing rack
# aware data distribution. This value is optional; in its absence, a generic
# value is used as the default.

# Put your actual configuration here
# ----------------------------------
#
# HOSTNAME     [PORT]     [RACK]
