# ====================
# = Project-Specific =
# ====================

# regression test detritus
/log/
/regression.diffs
/regression.out
/results/
/tmp_check*

# ignore latest install file
citus--5.0.sql
citus--5.?-*.sql
