# Local binaries
/pg_regress

# Generated subdirectories
/tmp_check/
/results/
/log/

# Regression test output
/regression.diffs
/regression.out
/test_times.log

# Failure test side effets
/proxy.output
