[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
mitmproxy = {editable = true, ref = "fix/tcp-flow-kill", git = "https://github.com/thanodnl/mitmproxy.git"}
construct = "==2.9.45"
docopt = "==0.6.2"
cryptography = "==3.4.8"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
flake8-bugbear = "*"

[requires]
python_version = "3.9"
