[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
mitmproxy = "==11.0.2"
"aioquic" = ">=1.1.0,<1.2.1"
"mitmproxy-rs" = ">=0.10.7,<0.11.0"
construct = "*"
docopt = "==0.6.2"
cryptography = "==44.0.3"
pytest = "*"
psycopg = "*"
filelock = "*"
pytest-asyncio = "*"
pytest-timeout = "*"
pytest-xdist = "*"
pytest-repeat = "*"
pyyaml = "*"
werkzeug = "==3.1.0"
"typing-extensions" = "==4.11.0"
pyperclip = "==1.9.0"

[dev-packages]
black = "==24.10.0"
isort = "*"
flake8 = "*"
flake8-bugbear = "*"

[requires]
python_version = "3.10"
