/multi_agg_distinct.sql
/multi_agg_type_conversion.sql
/multi_alter_table_statements.sql
/multi_append_table_to_shard.sql
/multi_behavioral_analytics_create_table.sql
/multi_behavioral_analytics_create_table_superuser.sql
/multi_copy.sql
/multi_create_schema.sql
/multi_large_shardid.sql
/multi_master_delete_protocol.sql
/multi_outer_join.sql
/multi_outer_join_reference.sql
/multi_load_data.sql
/multi_load_data_superuser.sql
/multi_load_large_records.sql
/multi_load_more_data.sql
/worker_copy.sql
/multi_complex_count_distinct.sql
/multi_mx_copy_data.sql
/multi_behavioral_analytics_create_table.sql
/multi_insert_select_behavioral_analytics_create_table.sql
/hyperscale_tutorial.sql
/am_block_filtering.sql
/am_copyto.sql
/am_create.sql
/am_data_types.sql
/am_load.sql
/fdw_block_filtering.sql
/fdw_copyto.sql
/fdw_create.sql
/fdw_data_types.sql
/fdw_load.sql
