name: Build & Test
run-name: Build & Test - ${{ github.event.pull_request.number || github.ref_name }} - ${{ github.sha }}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
on:
  workflow_dispatch:
    inputs:
      skip_test_flakyness:
        required: false
        default: false
        type: boolean
  pull_request:
    types: [opened, reopened,synchronize]
jobs:
  check-sql-snapshots:
    runs-on: ubuntu-latest
    container:
      image: ${{ vars.build_image_name }}:latest
      options: --user root
    steps:
    - uses: actions/checkout@v3.5.0
    - name: Check Snapshots
      run: |
        git config --global --add safe.directory ${GITHUB_WORKSPACE}
        ci/check_sql_snapshots.sh
  check-style:
    runs-on: ubuntu-latest
    container:
      image: ${{ vars.style_checker_image_name }}:${{ vars.style_checker_tools_version }}${{ vars.image_suffix }}
    steps:
    - name: Check Snapshots
      run: |
        git config --global --add safe.directory ${GITHUB_WORKSPACE}
    - uses: actions/checkout@v3.5.0
      with:
        fetch-depth: 0
    - name: Check C Style
      run: citus_indent --check
    - name: Check Python style
      run: black --check .
    - name: Check Python import order
      run: isort --check .
    - name: Check Python lints
      run: flake8 .
    - name: Fix whitespace
      run: ci/editorconfig.sh && git diff --exit-code
    - name: Remove useless declarations
      run: ci/remove_useless_declarations.sh && git diff --cached --exit-code
    - name: Normalize test output
      run: ci/normalize_expected.sh && git diff --exit-code
    - name: Check for C-style comments in migration files
      run: ci/disallow_c_comments_in_migrations.sh && git diff --exit-code
    - name: 'Check for comment--cached ns that start with # character in spec files'
      run: ci/disallow_hash_comments_in_spec_files.sh && git diff --exit-code
    - name: Check for gitignore entries .for source files
      run: ci/fix_gitignore.sh && git diff --exit-code
    - name: Check for lengths of changelog entries
      run: ci/disallow_long_changelog_entries.sh
    - name: Check for banned C API usage
      run: ci/banned.h.sh
    - name: Check for tests missing in schedules
      run: ci/check_all_tests_are_run.sh
    - name: Check if all CI scripts are actually run
      run: ci/check_all_ci_scripts_are_run.sh
    - name: Check if all GUCs are sorted alphabetically
      run: ci/check_gucs_are_alphabetically_sorted.sh
    - name: Check for missing downgrade scripts
      run: ci/check_migration_files.sh
  build:
    name: Build for PG ${{ matrix.pg_version}}
    strategy:
      fail-fast: false
      matrix:
        image_name:
          - ${{ vars.build_image_name }}
        image_suffix:
          - ${{ vars.image_suffix}}
        pg_version:
          - ${{ vars.pg14_version }}
          - ${{ vars.pg15_version }}
    runs-on: ubuntu-latest
    container:
      image: "${{ matrix.image_name }}:${{ matrix.pg_version  }}${{ matrix.image_suffix }}"
      options: --user root
    steps:
    - uses: actions/checkout@v3.5.0
    - name: Expose $PG_MAJOR to Github Env
      run: echo "PG_MAJOR=${PG_MAJOR}" >> $GITHUB_ENV
      shell: bash
    - name: Build
      run: "./ci/build-citus.sh"
      shell: bash
    - uses: actions/upload-artifact@v3.1.1
      with:
        name: build-${{ env.PG_MAJOR }}
        path: |-
          ./build-${{ env.PG_MAJOR }}/*
          ./install-${{ env.PG_MAJOR }}.tar
  test-citus:
    name: PG${{ matrix.pg_version }} - ${{ matrix.suite }} ${{ matrix.make }}
    strategy:
      fail-fast: false
      matrix:
        suite:
          - regress
        image_name:
          - ${{ vars.test_image_name }}
        pg_version:
          - ${{ vars.pg14_version }}
          - ${{ vars.pg15_version }}
        make:
          - check-split
          - check-multi
          - check-multi-1
          - check-multi-mx
          - check-vanilla
          - check-isolation
          - check-operations
          - check-follower-cluster
          - check-columnar
          - check-columnar-isolation
          - check-enterprise
          - check-enterprise-isolation
          - check-enterprise-isolation-logicalrep-1
          - check-enterprise-isolation-logicalrep-2
          - check-enterprise-isolation-logicalrep-3
        include:
          - make: check-failure
            pg_version: ${{ vars.pg14_version }}
            suite: regress
            image_name: ${{ vars.fail_test_image_name }}
          - make: check-failure
            pg_version: ${{ vars.pg15_version }}
            suite: regress
            image_name: ${{ vars.fail_test_image_name }}
          - make: check-enterprise-failure
            pg_version: ${{ vars.pg14_version }}
            suite: regress
            image_name: ${{ vars.fail_test_image_name }}
          - make: check-enterprise-failure
            pg_version: ${{ vars.pg15_version }}
            suite: regress
            image_name: ${{ vars.fail_test_image_name }}
          - make: check-pytest
            pg_version: ${{ vars.pg14_version }}
            suite: regress
            image_name: ${{ vars.fail_test_image_name }}
          - make: check-pytest
            pg_version: ${{ vars.pg15_version }}
            suite: regress
            image_name: ${{ vars.fail_test_image_name }}
          - make: installcheck
            suite: cdc
            image_name: ${{ vars.test_image_name }}
            pg_version: ${{ vars.pg15_version }}
          - make: check-query-generator
            pg_version: ${{ vars.pg14_version }}
            suite: regress
            image_name: ${{ vars.fail_test_image_name }}
          - make: check-query-generator
            pg_version: ${{ vars.pg15_version }}
            suite: regress
            image_name: ${{ vars.fail_test_image_name }}
    runs-on: ubuntu-latest
    container:
      image: "${{ matrix.image_name }}:${{ matrix.pg_version }}${{ vars.image_suffix }}"
      options: --user root
    needs:
    - build
    steps:
    - uses: actions/checkout@v3.5.0
    - uses: "./.github/actions/install_extension"
    - name: Run Test
      run: gosu circleci make -C src/test/${{ matrix.suite }} ${{ matrix.make }}
      timeout-minutes: 20
    - uses: "./.github/actions/save_logs_and_results"
      if: always()
      with:
        folder: ${{ matrix.pg_version }}_${{ matrix.make }}
    - uses: "./.github/actions/upload_coverage"
      if: always()
      with:
        flags: ${{ env.PG_MAJOR }}_${{ matrix.suite }}_${{ matrix.make }}
  prepare_parallelization_matrix_6:
    name: Parallel 6
    runs-on: ubuntu-latest
    needs: build
    outputs:
      json: ${{ steps.parallelization.outputs.json }}
    steps:
      - uses: actions/checkout@v3.5.0
      - uses: "./.github/actions/parallelization"
        id: parallelization
        with:
          count: 6
  test-arbitrary-configs:
    if: ${{ false }}
    # disable this job till we have 16core VMs
    name: PG${{ matrix.pg_version }} - regress - check-arbitrary-configs
    runs-on: ubuntu-latest #-16core
    container:
      image: "${{ matrix.image_name }}:${{ matrix.pg_version }}${{ vars.image_suffix }}"
      options: --user root
    needs:
      - build
      - prepare_parallelization_matrix_6
    strategy:
      fail-fast: false
      matrix:
        image_name:
          - ${{ vars.fail_test_image_name }}
        pg_version:
          - ${{ vars.pg14_version }}
          - ${{ vars.pg15_version }}
        parallel: [1,2,3,4,5,6]
    steps:
    - uses: actions/checkout@v3.5.0
    - uses: "./.github/actions/install_extension"
    - name: Test arbitrary configs
      run: |-
        TESTS=$(src/test/regress/citus_tests/print_test_names.py)
        # Our test suite expects comma separated values
        TESTS=$(echo $TESTS | tr ' ' ',')
        # TESTS will contain subset of configs that will be run on a container and we use multiple containers
        # to run the test suite
        gosu circleci \
          make -C src/test/regress \
            check-arbitrary-configs parallel=4 CONFIGS=$TESTS
    - uses: "./.github/actions/save_logs_and_results"
      if: always()
    - uses: "./.github/actions/upload_coverage"
      if: always()
      with:
        flags: ${{ env.pg_major }}_upgrade
  test-pg-upgrade:
    runs-on: ubuntu-latest
    container:
      image: "${{ vars.pgupgrade_image_name }}:${{ vars.upgrade_pg_versions }}${{ vars.image_suffix }}"
      options: --user root
    needs:
    - build
    env:
      old_pg_major: 14
      new_pg_major: 15
    steps:
    - uses: actions/checkout@v3.5.0
    - uses: actions/download-artifact@v3.0.1
      with:
        path: "."
    - uses: "./.github/actions/install_extension"
      with:
        pg_major: "${{ env.old_pg_major }}"
    - uses: "./.github/actions/install_extension"
      with:
        pg_major: "${{ env.new_pg_major }}"
    - name: Install and test postgres upgrade
      run: |-
        gosu circleci \
          make -C src/test/regress \
            check-pg-upgrade \
            old-bindir=/usr/lib/postgresql/${{ env.old_pg_major }}/bin \
            new-bindir=/usr/lib/postgresql/${{ env.new_pg_major }}/bin
    - name: Copy pg_upgrade logs for newData dir
      run: |-
        mkdir -p /tmp/pg_upgrade_newData_logs
        if ls src/test/regress/tmp_upgrade/newData/*.log 1> /dev/null 2>&1; then
            cp src/test/regress/tmp_upgrade/newData/*.log /tmp/pg_upgrade_newData_logs
        fi
      if: failure()
    - uses: "./.github/actions/save_logs_and_results"
      if: always()
    - uses: "./.github/actions/upload_coverage"
      if: always()
      with:
        flags: ${{ env.old_pg_major }}_${{ env.new_pg_major }}_upgrade
  test-citus-upgrade:
    runs-on: ubuntu-latest
    container:
      image: "${{ vars.citusupgrade_image_name }}:${{ vars.pg14_version }}${{ vars.image_suffix }}"
      options: --user root
    needs:
    - build
    steps:
    - uses: actions/checkout@v3.5.0
    - uses: "./.github/actions/install_extension"
      with:
        skip_installation: true
    - name: Install and test citus upgrade
      run: |-
        # run make check-citus-upgrade for all citus versions
        # the image has ${CITUS_VERSIONS} set with all verions it contains the binaries of
        for citus_version in ${CITUS_VERSIONS}; do \
          gosu circleci \
            make -C src/test/regress \
              check-citus-upgrade \
              bindir=/usr/lib/postgresql/${PG_MAJOR}/bin \
              citus-old-version=${citus_version} \
              citus-pre-tar=/install-pg${PG_MAJOR}-citus${citus_version}.tar \
              citus-post-tar=${GITHUB_WORKSPACE}/install-$PG_MAJOR.tar; \
        done;
        # run make check-citus-upgrade-mixed for all citus versions
        # the image has ${CITUS_VERSIONS} set with all verions it contains the binaries of
        for citus_version in ${CITUS_VERSIONS}; do \
          gosu circleci \
            make -C src/test/regress \
              check-citus-upgrade-mixed \
              citus-old-version=${citus_version} \
              bindir=/usr/lib/postgresql/${PG_MAJOR}/bin \
              citus-pre-tar=/install-pg${PG_MAJOR}-citus${citus_version}.tar \
              citus-post-tar=${GITHUB_WORKSPACE}/install-$PG_MAJOR.tar; \
        done;
    - uses: "./.github/actions/save_logs_and_results"
      if: always()
    - uses: "./.github/actions/upload_coverage"
      if: always()
      with:
        flags: ${{ env.pg_major }}_upgrade
  upload-coverage:
    if: always()
    env:
      CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
    runs-on: ubuntu-latest
    container:
      image: ${{ vars.test_image_name }}:${{ vars.pg15_version }}${{ vars.image_suffix }}
    needs:
      - test-citus
      - test-arbitrary-configs
      - test-citus-upgrade
      - test-pg-upgrade
    steps:
      - uses: actions/download-artifact@v3.0.1
        with:
          name: "codeclimate"
          path: "codeclimate"
      - name: Upload coverage results to Code Climate
        run: |-
          cc-test-reporter sum-coverage codeclimate/*.json -o total.json
          cc-test-reporter upload-coverage -i total.json
  ch_benchmark:
    if: startsWith(github.ref, 'refs/heads/ch_benchmark/')
    runs-on: ubuntu-latest
    container:
      image: buildpack-deps:stretch
    needs:
    - build
    steps:
    - uses: actions/checkout@v3.5.0
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: install dependencies and run ch_benchmark tests
      uses: azure/CLI@v1
      with:
        inlineScript: |
          cd ./src/test/hammerdb
          chmod +x run_hammerdb.sh
          run_hammerdb.sh citusbot_ch_benchmark_rg
  tpcc_benchmark:
    if: startsWith(github.ref, 'refs/heads/tpcc_benchmark/')
    runs-on: ubuntu-latest
    container:
      image: buildpack-deps:stretch
    needs:
    - build
    steps:
    - uses: actions/checkout@v3.5.0
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: install dependencies and run tpcc_benchmark tests
      uses: azure/CLI@v1
      with:
        inlineScript: |
          cd ./src/test/hammerdb
          chmod +x run_hammerdb.sh
          run_hammerdb.sh citusbot_tpcc_benchmark_rg
  prepare_parallelization_matrix_32:
    name: Parallel 32
    if: ${{ needs.test-flakyness-pre.outputs.tests != ''}}
    needs: test-flakyness-pre
    runs-on: ubuntu-latest
    outputs:
      json: ${{ steps.parallelization.outputs.json }}
    steps:
      - uses: actions/checkout@v3.5.0
      - uses: "./.github/actions/parallelization"
        id: parallelization
        with:
          count: 32
  test-flakyness-pre:
    name: Detect regression tests need to be ran
    if: ${{ !inputs.skip_test_flakyness }}}
    runs-on: ubuntu-latest
    needs: build
    outputs:
      tests: ${{ steps.detect-regression-tests.outputs.tests }}
    steps:
    - uses: actions/checkout@v3.5.0
      with:
        fetch-depth: 0
    - name: Detect regression tests need to be ran
      id: detect-regression-tests
      run: |-
        detected_changes=$(git diff origin/main... --name-only --diff-filter=AM | (grep 'src/test/regress/sql/.*\.sql\|src/test/regress/spec/.*\.spec\|src/test/regress/citus_tests/test/test_.*\.py' || true))
        tests=${detected_changes}
        if [ -z "$tests" ]; then
            echo "No test found."
        else
          echo "Detected tests " $tests
        fi
        echo tests="$tests" >> "$GITHUB_OUTPUT"
  test-flakyness:
    if: ${{ needs.test-flakyness-pre.outputs.tests != ''}}
    name: Test flakyness
    runs-on: ubuntu-latest
    container:
      image: ${{ vars.fail_test_image_name }}:${{ vars.pg15_version }}${{ vars.image_suffix }}
      options: --user root
    env:
      runs: 8
    needs:
    - build
    - test-flakyness-pre
    - prepare_parallelization_matrix_32
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.prepare_parallelization_matrix_32.outputs.json) }}
    steps:
    - uses: actions/checkout@v3.5.0
    - uses: actions/download-artifact@v3.0.1
    - uses: "./.github/actions/install_extension"
    - name: Run minimal tests
      run: |-
        tests="${{ needs.test-flakyness-pre.outputs.tests }}"
        tests_array=($tests)
        for test in "${tests_array[@]}"
        do
            test_name=$(echo "$test" | sed -r "s/.+\/(.+)\..+/\1/")
            gosu circleci src/test/regress/citus_tests/run_test.py $test_name --repeat ${{ env.runs }} --use-base-schedule --use-whole-schedule-line
        done
      shell: bash
    - uses: "./.github/actions/save_logs_and_results"
      if: always()
